In [73]:
!mkdir -p data

In [74]:
import urllib.request
import pandas as pd
import boto3
from io import BytesIO

In [75]:
def extract_data(url, filename):
    try:
        urllib.request.urlretrieve(url, filename)
        
    except Exception as e:
        print(e)

In [76]:
extract_data("https://data.boston.gov/dataset/8048697b-ad64-4bfc-b090-ee00169f2323/resource/c9509ab4-6f6d-4b97-979a-0cf2a10c922b/download/tmphrybkxuh.csv", "data/dados_2015.csv")
extract_data("https://data.boston.gov/dataset/8048697b-ad64-4bfc-b090-ee00169f2323/resource/b7ea6b1b-3ca4-4c5b-9713-6dc1db52379a/download/tmpzxzxeqfb.csv", "data/dados_2016.csv")
extract_data("https://data.boston.gov/dataset/8048697b-ad64-4bfc-b090-ee00169f2323/resource/30022137-709d-465e-baae-ca155b51927d/download/tmpzccn8u4q.csv", "data/dados_2017.csv")
extract_data("https://data.boston.gov/dataset/8048697b-ad64-4bfc-b090-ee00169f2323/resource/2be28d90-3a90-4af1-a3f6-f28c1e25880a/download/tmp7602cia8.csv", "data/dados_2018.csv")
extract_data("https://data.boston.gov/dataset/8048697b-ad64-4bfc-b090-ee00169f2323/resource/ea2e4696-4a2d-429c-9807-d02eb92e0222/download/tmpcje3ep_w.csv", "data/dados_2019.csv")
extract_data("https://data.boston.gov/dataset/8048697b-ad64-4bfc-b090-ee00169f2323/resource/6ff6a6fd-3141-4440-a880-6f60a37fe789/download/tmpcv_10m2s.csv", "data/dados_2020.csv")

In [77]:
arquivos = [
    "data/dados_2015.csv",
    "data/dados_2016.csv",
    "data/dados_2017.csv",
    "data/dados_2018.csv",
    "data/dados_2019.csv",
    "data/dados_2020.csv",
]

In [78]:
dfs = {}

In [79]:
for arquivo in arquivos:
    ano = arquivo.split("_")[-1].split(".")[0]
    dfs[ano] = pd.read_csv(arquivo)

/tmp/ipykernel_50583/424024024.py:3: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ano] = pd.read_csv(arquivo)
/tmp/ipykernel_50583/424024024.py:3: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ano] = pd.read_csv(arquivo)
/tmp/ipykernel_50583/424024024.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ano] = pd.read_csv(arquivo)
/tmp/ipykernel_50583/424024024.py:3: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ano] = pd.read_csv(arquivo)
/tmp/ipykernel_50583/424024024.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ano] = pd.read_csv(arquivo)
/tmp/ipykernel_50583/424024024.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dfs[ano] = pd.read_csv(arquivo)

In [80]:
dfs["2018"].head()

,case_enquiry_id,open_dt,sla_target_dt,closed_dt,on_time,case_status,closure_reason,case_title,subject,reason,...,neighborhood,neighborhood_services_district,ward,precinct,location_street_name,location_zipcode,latitude,longitude,geom_4326,source
0,101002296888,2018-01-01 00:02:00,NaN,2018-01-02 08:05:36,ONTIME,Closed,Case Closed. Closed date : 2018-01-02 13:05:36...,Request for Snow Plowing (Emergency Responder),Public Works Department,Street Cleaning,...,Jamaica Plain,10,Ward 19,1912,340-342 Hyde Park Ave,2131.0,42.289290,-71.117981,0101000020E61000009C9C12FF8CC751C0E48E1F710725...,Constituent Call
1,101002296890,2018-01-01 00:46:00,2018-01-02 03:30:00,2018-01-01 01:44:28,ONTIME,Closed,Case Closed. Closed date : 2018-01-01 06:44:28...,Street Light Knock Downs,Public Works Department,Street Lights,...,Greater Mattapan,13,12,1207,INTERSECTION Franklin Park Rd & Glen Ln,NaN,42.302241,-71.087378,0101000020E6100000927F5D9A97C551C050BAADD1AF26...,Constituent Call
2,101002296891,2018-01-01 01:08:00,NaN,2018-02-05 06:03:35,ONTIME,Closed,Case Closed. Closed date : 2018-02-05 11:03:35...,General Request,Boston Water & Sewer Commission,Administrative & General Requests,...,East Boston,1,Ward 1,0106,134 Marion St,2128.0,42.376919,-71.036240,0101000020E6100000DBA711C351C251C00F1ADAE53E30...,Constituent Call
3,101002296892,2018-01-01 01:11:26,2018-01-03 03:30:00,2018-01-01 02:27:44,ONTIME,Closed,Case Closed. Closed date : 2018-01-01 07:27:44...,Request for Snow Plowing,Public Works Department,Street Cleaning,...,Dorchester,7,Ward 13,1309,1080 Dorchester Ave,2125.0,42.313820,-71.056851,0101000020E6100000A2B77570A3C351C02CFEF23C2B28...,Citizens Connect App
4,101002296894,2018-01-01 01:13:00,NaN,2018-02-23 05:01:35,ONTIME,Closed,Case Closed. Closed date : 2018-02-23 10:01:35...,BWSC Pothole,Boston Water & Sewer Commission,Pothole,...,Boston,3,03,0305,125 Nashua St,2114.0,42.367830,-71.064950,0101000020E610000080D0E42528C451C0A918B809152F...,Constituent Call

# Conectando a conta de arqmazenamento

In [81]:
aws_access_key_id = "AKIASMCHUFA67ZM76TE6"
aws_secret_access_key = "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"
region_name = "us-east-2"

boto3.setup_default_session(
    aws_access_key_id = aws_access_key_id,
    aws_secret_access_key = aws_secret_access_key,
    region_name = region_name
)


s3 = boto3.client("s3")

In [82]:
content = """Olá, s3"""

with open("hello-s3.txt", "w+") as f:
    f.write(content)

In [83]:
s3.upload_file("hello-s3.txt", "alura-datalakeaws-nagpaulo", "bronze/hello-s3")

# Salvar arquivo em Parquet

In [84]:
for ano, df in dfs.items():
    parquet_buffer = BytesIO()
    df.to_parquet(parquet_buffer)
    
    s3.put_object(
        Bucket="alura-datalakeaws-nagpaulo",
        Key=f"bronze/dados_{ano}.parquet",
        Body=parquet_buffer.getvalue(),
    )

In [85]:
response = s3.list_objects(Bucket="alura-datalakeaws-nagpaulo")

In [87]:
keys = [obj["Key"] for obj in response["Contents"]]
print(keys)

['bronze/', 'bronze/dados_2015.parquet', 'bronze/dados_2016.parquet', 'bronze/dados_2017.parquet', 'bronze/dados_2018.parquet', 'bronze/dados_2019.parquet', 'bronze/dados_2020.parquet', 'bronze/hello-s3', 'silver/']